@charset "UTF-8";
h3 {
	text-align: center;
}

table {
	border: 2px solid green;
	width: 600px;
}
th, tr {
	background-color: mediumpurple;
	color: black;
	text-align: center;
}
td:hover {
	background-color: black;
	color: mediumpurple;
}
